{% load static %}

<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 header-color header-font padding-header">
                <a class="p-2 text-white" href="{% url 'base' %}">Footer 1</a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 text-center logo-color header-font">
                <a href="/">
                    <img src="{% static 'images/logo.png' %}" class="margin-bottom" width="40%" height="auto">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 header-color header-font padding-header">
                <a class="p-2 text-white" href="{% url 'base' %}">Footer 2</a>
            </div>
        </div>
    </div>
</footer>