{% load static %}

<nav
    class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target"
    id="ftco-navbar"
>
    <div class="container">
    <a class="navbar-brand" href="/">A&D</a>
    <button
        class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle"
        type="button"
        data-toggle="collapse"
        data-target="#ftco-nav"
        aria-controls="ftco-nav"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav nav ml-auto">
        <!-- <li class="nav-item"><a href="#home" class="nav-link"><span>Home</span></a></li> -->
        <li class="nav-item">
            <a href="/absence" class="nav-link"><span>Absence</span></a>
        </li>
        {% if user.is_authenticated %}
        {% if user.is_staff %}
        <li class="nav-item">
            <a href="/schedule/open" class="nav-link"><span>Open Schedule</span></a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a href="/schedule" class="nav-link"><span>My Schedule</span></a>
        </li>
        <li class="nav-item">
            <a href="/profile" class="nav-link"
            ><span>Profile</span></a
            >
        </li>
        <li class="nav-item">
            <a href="#contact-section" class="nav-link"
            ><span>Contact</span></a
            >
        </li>
        <li class="nav-item">
            <a href="/logout" class="nav-link"
            ><span>Log Out</span></a
            >
        </li>
        {% else %}
        <li class="nav-item">
            <a href="/register/student" class="nav-link"
            ><span>Register Student</span></a
            >
        </li>
        <li class="nav-item">
            <a href="/register/tentor" class="nav-link"><span>Register Tentor</span></a>
        </li>
        <li class="nav-item">
            <a href="/login" class="nav-link"
            ><span>Sign In</span></a
            >
        </li>
        {% endif %}
        </ul>
    </div>
    </div>
</nav>
