{% extends "registers.html" %}
{% load static %}
{% block title %}
  <h2 class="mb-4">Register as {{ form.user_type }}</h2>
{% endblock %}
{% block register %}
  <p style="display: none;">
    <label for="id_user_type">User Type:</label>
    <input
    name="user_type"
    maxlength="250"
    required=""
    id="id_user_type"
    value="{{ form.user_type }}"
  >
  </p>
  <p>
    <label for="id_username">Username (Unique name):</label>
    <input
    type="text"
    name="username"
    maxlength="250"
    required=""
    id="id_username"
    onchange="addListener()"
  >
    <p id="result-username"></p>
  </p>
  <p>
    <label for="id_password">Password:</label>
    <input
    type="password"
    name="password"
    maxlength="250"
    required=""
    id="id_password"
    onchange="addListener()"
  >
    <p id="result-password"></p>
  </p>
  <p>
    <label for="id_email">Email:</label>
    <input type="email" name="email" maxlength="250" required="" id="id_email" required>
  </p>
  <script type="text/javascript">
    function addListener(){
      const users = '{{ form.users }}';
      let username = document.getElementById("id_username").value;
      let password = document.getElementById("id_password").value;

      if (username.length < 8) {
        document.getElementById("result-username").innerHTML = `Username should reach minimum 8 characters: ${username}`;
        document.getElementById('submit').disabled = true;
      } else if (users.includes(username)){
        document.getElementById("result-username").innerHTML = `Username already in use: ${username}`;
        document.getElementById('submit').disabled = true;
      } else {

        document.getElementById("result-username").innerHTML = `You can use this username: ${username}`;
        if (password.length < 8) {
          document.getElementById("result-password").innerHTML = `Password should reach minimum 8 characters`;
          document.getElementById('submit').disabled = true;
        } else if (!password.match(/[0-9]/g)) {
          document.getElementById("result-password").innerHTML = `Password should combination with number`;
          document.getElementById('submit').disabled = true;
        } else {
          document.getElementById("result-password").innerHTML = `Nice password!`;
          document.getElementById('submit').disabled = false;
        }

      };
    };

    document.getElementById('id_username').value = "{{ form.username }}";
    document.getElementById('id_password').value = "{{ form.password }}";
    document.getElementById('id_email').value = "{{ form.email }}";
  </script>
{% endblock %}
