{% extends "base.html" %}

{% block content %}
  <form method="POST" class="post-form" enctype="multipart/form-data">
    {% csrf_token %}
    <p>
      <label for="id_username_email">Username / Email validation:</label>
      <input
      type="text"
      name="username_email"
      maxlength="250"
      required=""
      id="id_username_email"
    >
    </p>
    <p>
      <label for="id_password">New Password:</label>
      <input
      type="password"
      name="password"
      maxlength="250"
      required=""
      id="id_password"
      onkeyup='addListenerPassword()'
    >
      <p id="result-password"></p>
    </p>
    <p>
      <label for="id_password_confirm">Confirm New Password:</label>
      <input
      type="password"
      name="password"
      maxlength="250"
      required=""
      id="id_password_confirm"
      onkeyup='addListenerPassword()'
    >
      <p id="result-password-confirm"></p>
    </p>
    <p id='message'></p>
    <div class="button-login">
      <input class="button-login-submit" type="submit" id="submit" value="Reset Password" />
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
  </form>
  <script>
    function addListenerPassword(){
      let password = document.getElementById("id_password").value;
      if (password.length < 8) {
        document.getElementById("result-password").innerHTML = `Password should reach minimum 8 characters`;
        document.getElementById('submit').disabled = true;
      }
      //else if (!password.match(/[0-9]/g)) {
      //  document.getElementById("result-password").innerHTML = `Password should combination with number`;
      //  document.getElementById('submit').disabled = true;
      //}
      else {
        document.getElementById("result-password").innerHTML = `Nice password!`;
        if (document.getElementById('id_password_confirm').value == ''){}
        else if (
          document.getElementById('id_password').value ==
          document.getElementById('id_password_confirm').value
        ) {
          document.getElementById('message').style.color = 'green';
          document.getElementById('message').innerHTML = 'Password Match';
          document.getElementById('submit').disabled = false;
        } else {
          document.getElementById('message').style.color = 'red';
          document.getElementById('message').innerHTML = 'Password Didn\'t Match';
          document.getElementById('submit').disabled = true;
        }
      };
    };
  </script>
{% endblock %}