# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

#### OSX & FUSE
._*
.DS_Store
.fuse_*

# Credentials
credentials*

# Migrations
home/migrations/*
!home/migrations/__init__.py
main_absence_schedule/migrations/*
!main_absence_schedule/migrations/__init__.py
!main_absence_schedule/migrations/0001_initial.py
main_register_student/migrations/*
!main_register_student/migrations/__init__.py
!main_register_student/migrations/0001_initial.py
main_register_tentor/migrations/*
!main_register_tentor/migrations/__init__.py
!main_register_tentor/migrations/0001_initial.py

# Upload files
media/uploads/student/id/*
media/uploads/student/profile/*
media/uploads/tentor/id/*
media/uploads/tentor/profile/*
static/*

!media/uploads/student/id/.gitkeep
!media/uploads/student/profile/.gitkeep
!media/uploads/tentor/id/.gitkeep
!media/uploads/tentor/profile/.gitkeep
!static/.gitkeep
!media/uploads/user-no-image.png
