{% extends "base.html" %}
{% load static %}
{% load payment_tag %}

{% block content %}
<div class="container">
  <div class="row justify-content-center pb-5">
    <div class="col-md-12 heading-section text-center ftco-animate">
      <h2 class="mb-4">Total Payment</h2>
      <p>
        Payment Summary {{ form.year }}
      </p>
      <p>
        Choose year :
        <select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
          {% with year=-2|get_year %}<option value="/student/payment/{{year}}" {% if year|stringformat:"s" in request.get_full_path %} selected {% else %} {% endif %}>Last 2 Year ({{year}})</option>{% endwith %}
          {% with year=-1|get_year %}<option value="/student/payment/{{year}}" {% if year|stringformat:"s" in request.get_full_path %} selected {% else %} {% endif %}>Last Year ({{year}})</option>{% endwith %}
          {% with year=0|get_year %}<option value="/student/payment/{{year}}" {% if year|stringformat:"s" in request.get_full_path %} selected {% else %} {% endif %}>Now Year ({{year}})</option>{% endwith %}
        </select>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 ftco-animate">

    {% if form.user_type == 'superuser' %}
      <h2>Total Payment</h2>
      <table>

        <tr class="table-title">
          <th>Student</th>
          {% comment %} Monthly title {% endcomment %}
          {% for month in form.list_months %}
            <th>{{ month }}</th>
          {% endfor %}
          {% comment %} End of Monthly title {% endcomment %}
        </tr>

        {% comment %} Get data per student {% endcomment %}
        {% for student in form.data_superuser %}
          <tr>
            <th>{{ student.user_student.name }}</th>
            {% comment %} Monthly data {% endcomment %}
            {% for month in form.list_months %}
              {% with month_paid=month|stringformat:"s"|add:"_paid" %}{% with month_total=month|stringformat:"s"|add:"_total" %}
                <th
                {% if student|get_item:month_paid == True %} 
                  style="color:#4e9955;;"
                {% elif student|get_item:month_paid == False %}
                  style="color:#e35c4bbd;"
                {% endif %}
                >
                  {{ student|get_item:month_total }}
                </th>
              {% endwith %}{% endwith %}
            {% endfor %}
            {% comment %} End of Monthly data {% endcomment %}
          </tr>
        {% endfor %}
        {% comment %} End of Get data per student {% endcomment %}

      </table>
      <br/>
      <h2>Total Meet</h2>
      <table>
        <tr class="table-title">
          <th>Student</th>
          {% comment %} Monthly title {% endcomment %}
          {% for month in form.list_months %}
            <th>{{ month }}</th>
          {% endfor %}
          {% comment %} End of Monthly title {% endcomment %}
        </tr>

        {% comment %} Get data per student {% endcomment %}
        {% for student in form.data_superuser %}
          <tr>
            <th>{{ student.user_student.name }}</th>
            {% comment %} Monthly data {% endcomment %}
            {% for month in form.list_months %}
              {% with month_paid=month|stringformat:"s"|add:"_paid" %}{% with month_count=month|stringformat:"s"|add:"_count" %}
                <th
                {% if student|get_item:month_paid == True %}
                  style="color:#4e9955;;"
                {% elif student|get_item:month_paid == False %}
                  style="color:#e35c4bbd;"
                {% endif %}
                >
                  {{ student|get_item:month_count }}
                </th>
              {% endwith %}{% endwith %}
            {% endfor %}
            {% comment %} End of Monthly data {% endcomment %}
          </tr>
        {% endfor %}
        {% comment %} End of Get data per student {% endcomment %}
      </table>

    {% elif form.user_type == 'student' %}
      <table>
      <tr class="table-title">
          <th>Month</th>
          <th>Mode</th>
          <th>Total Meeting</th>
          <th>Price per Meet (Rp)</th>
          <th>Group Addon</th>
          <th>Discount Group</th>
          <th>Total (Rp)</th>
          <th>Paid</th>
          <th>Note</th>
      </tr>
      {% comment %} Monthly data {% endcomment %}
      {% for month in form.list_months %}
        {% with list_month=month|stringformat:"s"|add:"_list" %}{% with total_month=month|stringformat:"s"|add:"_total" %}
        {% with paid_month=month|stringformat:"s"|add:"_paid" %}{% with note_month=month|stringformat:"s"|add:"_note" %}
          <tr>
              <td>{{ month }}</td>
              <td>{{ form.user_student.mode }}</td>
              <td>{{ form|get_item:list_month }}</td>
              <td>Rp {{ form.price }},-</td>
              <td>{{ form.user_student.total_student }}</td>
              <td>{{ form.discount }}</td>
              <td>Rp {{ form|get_item:total_month }},-</td>
              {% if form|get_item:paid_month == True %}
                <td><i class="fa fa-check" style="font-size:36px"></i></td>
              {% elif form|get_item:paid_month == False %}
                <td><i class="fa fa-hourglass" style="font-size:36px"></i></td>
              {% else %}
                <td>{{ form|get_item:paid_month }}</td>
              {% endif %}
              <td>{{ form|get_item:note_month }}</td>
          </tr>
        {% endwith %}{% endwith %}{% endwith %}{% endwith %}
      {% endfor %}
      {% comment %} End of Monthly data {% endcomment %}
      </table>
      {% endif %}

      <p>
        *) Can validate it from <a href="/absence">Absence<a> data <br/>
        Note : Disc 10% if more than 4 meet / month
      </p>
    </div>
  </div>
</div>
<div class="row justify-content-center py-5 mt-5">
  <div class="col-md-12 heading-section text-center ftco-animate">
    <h2 class="mb-4">Payment</h2>
    <h3 class="mb-4">Transfer to this number</h3>
    <h3>Mandiri : <strong>144 000 98888 08</strong></h3>
    <h3>BNI : <strong>0717 902 007</strong></h3>
    <h3>OVO / GOPAY : <strong>0822 3326 9549</strong></h3>
  </div>
</div>
<style>
@media (max-width: 500px) {
    body{
        width: 200%;
    }
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.table-title {
  background-color: #38706f70 !important;
}

tr:nth-child(even) {
  background-color: #76a1a070;
}

tr:nth-child(odd) {
  background-color: #664f4f2b;
}
</style>
<script type="text/javascript">
  function zoom(){
    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
      document.body.style.zoom = "80%" 
    }
  }
</script>
{% endblock %}
