{% extends "registers.html" %}
{% load static %}

{% block profile %}
  <p style="display: none;">
    <label for="id_user">User: </label>
    <input
      type="text"
      name="user"
      maxlength="250"
      id="id_user"
    >
  </p>
  <p>
    <label for="id_name">Name:</label>
    <input type="text" name="name" maxlength="250" required="" id="id_name" / required>
  </p>
  <p>
    <label for="id_gender">Gender:</label>
    <select
      name="gender" id="id_gender"
      required
    >
      <option value="" selected>-</option>
      <option value="m">Male</option>
      <option value="f">Female</option>
    </select>
  </p>
  <p>
    <label for="id_parent_name">Parent name:</label>
    <input
      type="text"
      name="parent_name"
      maxlength="250"
      required=""
      id="id_parent_name"
    />
  </p>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <p>
          <label for="id_address">Address:</label>
          <input
            type="text"
            name="address"
            maxlength="250"
            required=""
            id="id_address"
          />
        </p>
      </div>
      <div class="col-md-4 col-sm-12">
        <p>
          <label for="id_city">City:</label>
          <input
            type="text"
            name="city"
            maxlength="250"
            required=""
            id="id_city"
          />
        </p>
      </div>
    </div>
  </div>
  <p>
    <label for="id_phone">Phone (Whatsapp preferable):</label>
    <input type="number" name="phone" maxlength="14" id="id_phone" placeholder="081XXXXXXXXX"  required/>
  </p>
  <!-- <p>
    <label for="id_number_id">ID Number (from ID Card):</label>
    <input
      type="text"
      name="number_id"
      maxlength="150"
      required=""
      id="id_number_id"
    />
  </p>
  <p>
    <label for="id_id_pic">ID Card Student/Parent (KTP/SIM/KTM): (Format SHOULD .jpg)</label>
    <input id="id_id_pic" type="file" name="id_pic" required>
  </p> -->
  <p>
    <label for="id_school">School:</label>
    <input
      type="text"
      name="school"
      maxlength="150"
      required=""
      id="id_school"
    />
  </p>

<!-- Schedule -->
  <div class="container">
    <p class="align-center">
      Choose schedule <br> minimum 1 (one)
    </p>
    <div class="row schedule-row">
      {% for num in form.range %}
        <div class="col-md-4">
          <p>
            <label class="schedule-label" for="id_schedule_{{ num }}">Schedule {{ num }}:</label>
            <select
              name="schedule_{{ num }}" id="id_schedule_{{ num }}"
              {% if num == 1 %}
                required
              {% endif %}
            >
              <option value="" selected>-</option>
              <option value="senin">Senin</option>
              <option value="selasa">Selasa</option>
              <option value="rabu">Rabu</option>
              <option value="kamis">Kamis</option>
              <option value="jumat">Jumat</option>
              <option value="sabtu">Sabti</option>
              <option value="ahad">Ahad</option>
            </select>
          </p>
          <p>
            <label class="other-label" for="id_mapel_{{ num }}">Mapel {{ num }}:</label>
            <select
              name="mapel_{{ num }}" id="id_mapel_{{ num }}"
              {% if num == 1 %}
                required
              {% endif %}
            >
              <option value="" selected>-</option>
              <option value="menyesuaikan">Menyesuaikan (SD/SMP)</option>
              <option value="IPA">IPA (SD/SMP)</option>
              <option value="matematika">Matematika</option>
              <option value="fisika">Fisika</option>
              <option value="kimia">Kimia</option>
              <option value="biologi">Biologi</option>
              <option value="bahasa inggris">B.Inggris</option>
              <option value="bahasa indonesia">B.Indonesia</option>
            </select>
          </p>
          <p>
            <label class="other-label" for="id_clock_{{ num }}">Clock:</label>
            <select
              name="clock_{{ num }}" id="id_clock_{{ num }}"
              {% if num == 1 %}
                required
              {% endif %}
            >
              <option value="" selected>-</option>
              <option value="09.00">09.00</option>
              <option value="09.30">09.30</option>
              <option value="10.00">10.00</option>
              <option value="10.30">10.30</option>
              <option value="11.00">11.00</option>
              <option value="11.30">11.30</option>
              <option value="12.00">12.00</option>
              <option value="12.30">12.30</option>
              <option value="13.00">13.00</option>
              <option value="13.30">13.30</option>
              <option value="14.00">14.00</option>
              <option value="14.30">14.30</option>
              <option value="15.00">15.00</option>
              <option value="15.30">15.30</option>
              <option value="16.00">16.00</option>
              <option value="16.30">16.30</option>
              <option value="17.00">17.00</option>
              <option value="17.30">17.30</option>
              <option value="18.00">18.00</option>
              <option value="18.30">18.30</option>
              <option value="19.00">19.00</option>
            </select>
          </p>
        </div>
        <!-- <p>
          <label for="id_mode_{{ num }}">Mode:</label>
          <select
            name="mode_{{ num }}" id="id_mode_{{ num }}"
            {% if num == 1 %}
              required
            {% endif %}
          >
            <option value="" selected>-</option>
            <option value="online (remote)">Remote</option>
            <option value="offline">Offline</option>
            <option value="both">Both</option>
          </select>
        </p> -->
      {% endfor %}
    </div>
  </div>
<!-- End Schedule -->

  <p>
    <label for="id_grade">Grade:</label>
    <select name="grade" id="id_grade" required>
      <option value="">-</option>
      <option value="SD 1">SD 1</option>
      <option value="SD 2">SD 2</option>
      <option value="SD 3">SD 3</option>
      <option value="SD 4">SD 4</option>
      <option value="SD 5">SD 5</option>
      <option value="SD 6">SD 6</option>
      <option value="SMP 7">SMP 7</option>
      <option value="SMP 8">SMP 8</option>
      <option value="SMP 9">SMP 9</option>
      <option value="SMA 10">SMA 10</option>
      <option value="SMA 11">SMA 11</option>
      <option value="SMA 12">SMA 12</option>
    </select>
  </p>
  <p>
    <label for="id_total_student">Group Study (plan for Bimbel):</label>
    <select name="total_student" id="id_total_student" required>
      <option value="" selected>-</option>
      <option value="1">1 Murid</option>
      <option value="2">2 Murid</option>
      <option value="3">3 Murid</option>
      <option value="4">4 Murid</option>
    </select>
  </p>
  <p>
    <label for="id_mode">Mode:</label>
    <select
      name="mode" id="id_mode"
      required
    >
      <option value="" selected>-</option>
      <option value="online (remote)">Online (Remote)</option>
      <option value="offline">Offline</option>
      <option value="both">Both</option>
    </select>
  </p>
  <script type="text/javascript">
    document.getElementById('id_name').value = "{{ form.name }}";
    document.getElementById('id_parent_name').value = "{{ form.parent_name }}";
    document.getElementById('id_address').value = "{{ form.address }}";
    document.getElementById('id_city').value = "{{ form.city }}";
    document.getElementById('id_phone').value = "{{ form.phone }}";
    document.getElementById('id_school').value = "{{ form.school }}";
  </script>
{% endblock %}
