{% extends "base.html" %}

{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
    <div class="text-center">
      <p>Your account doesn't have access to this page. To proceed,
    </div>
      please login with an account that has access.</p>
    {% else %}
    <div class="text-center">
      <p>Please login to see this page.</p>
    </div>
    {% endif %}
  {% endif %}
  
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="row form-login">
      <div class="col-md-3 col-sm-3">
        <p id="margin-none">{{ form.username.label_tag }}</p>
        <p id="margin-none">{{ form.password.label_tag }}</p>
      </div>
      <div class="col-md-9 col-sm-9">
        <td>{{ form.username }}</td>
        <td>{{ form.password }}</td>
      </div>
    </div>
    <div class="button-login">
      <input class="button-login-submit" type="submit" value="login" />
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
  </form>
  
  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
  
{% endblock %}