{% extends "schedule_absence.html" %}
{% load static %}

{% block schedule %}
<div class="row">
  <div class="col-md-12 animate-box">
    <div class="progress-wrap ftco-animate">
        <form method="POST" class="post-form" enctype="multipart/form-data">
          {% csrf_token %}
          {% if form.user_type == 'tentor' %}
          <h2>My Schedule</h2>
          <div class="container">
            <div class="row margin-bottom-none">
              {% if form.schedules_active|length <= 0 %}
                <div
                  class="col-md-12 col-sm-12 text-center schedule-none"
                  >
                  <h3>No student to handle yet.</h3>
                  <h3>Click <a href="/schedule/open" id="here-a">here</a> to discover schedule.</h3>
                </div>
              {% else %}
                {% for schedule in form.schedules_active %}
                  {% if forloop.counter|divisibleby:2 %}
                    <div
                      class="col-md-12 col-sm-12 background-schedule-1"
                      >
                      <h4 id="schedule-h4-1">List of Student</h4>
                  {% else %}
                    <div
                      class="col-md-12 col-sm-12 background-schedule-2"
                      >
                      <h4 id="schedule-h4-2">List of Student</h4>
                  {% endif %}
                      <p>Nama Murid: {{ schedule.user_student.name }}</p>
                      <p>Kelas : {{ schedule.user_student.grade }}</p>
                      <p>Jadwal : {{ schedule.schedule }}</p>
                      <p>Mapel : {{ schedule.mapel }}</p>
                      <p>Lokasi : {{ schedule.location }}</p>
                      <p>Mode : {{ schedule.mode }}</p>
                      <p>HP : {{ schedule.user_student.phone }}</p>
                      <div class="text-center">
                        <a id="whatsapp-a" href="https://wa.me/{{ schedule.user_student.phone }}/?text=Hi!%20I%20am%20your%20tentor%20for%20every%20{{ schedule.schedule }}.%20My%20name%20is%20{{ schedule.user_tentor.name }}.">
                          <i class="fa fa-whatsapp" style="font-size:36px"></i>
                          Whatsapp chat
                        </a>
                        <a id="absence-a" href="/absence">
                          <i class="fa fa-book" style="font-size:36px"></i>
                          Go to absence
                        </a>
                      </div>
                    </div>      
                {% endfor %}
              {% endif %}
            </div>
          </div>

          {% elif form.user_type == 'student' %}
          <h2>My Schedule</h2>
          <div class="container">
            <div class="row">
              {% if form.schedules_active|length <= 0 %}
                <div
                  class="col-md-12 col-sm-12 text-center schedule-none"
                  >
                  <h3>No schedule is handled by tentor yet.</h3>
                  <h3>Please wait, while we search for the best tentor for you.</h3>
                </div>
              {% else %}
              <div class="col-md-12 col-sm-12 absence-title">
                <h3>Scheduled</h3>
              </div>
                {% for schedule in form.schedules_active %}
                  {% if schedule.user_tentor %}
                    {% if forloop.counter|divisibleby:2 %}
                      <div
                        class="col-md-12 col-sm-12 background-schedule-1"
                        >
                        <h4 id="schedule-h4-1">List of Schedule</h4>
                    {% else %}
                      <div
                        class="col-md-12 col-sm-12 background-schedule-2"
                        >
                        <h4 id="schedule-h4-2">List of Schedule</h4>
                    {% endif %}
                    <p>Jadwal : {{ schedule.schedule }}</p>
                    <p>Mapel : {{ schedule.mapel }}</p>
                    <p>Mode : {{ schedule.mode }}</p>
                    <p>Nama Tentor : {{ schedule.user_tentor.name }}</p>
                    <p>HP : {{ schedule.user_tentor.phone }}</p>
                      <div class="text-center">
                        <a id="whatsapp-a" href="https://wa.me/{{ schedule.user_tentor.phone }}/?text=Hi!%20I%20am%20your%20student%20for%20schedule%20{{ schedule.schedule }}.%20My%20name%20is%20{{ schedule.user_student.name }}.">
                          <i class="fa fa-whatsapp" style="font-size:36px"></i>
                          Whatsapp chat
                        </a>
                        <a id="absence-a" href="/absence">
                          <i class="fa fa-book" style="font-size:36px"></i>
                          Go to absence
                        </a>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}

                <!-- Tentor not verified -->
                <div class="col-md-12 col-sm-12 absence-title">
                  <h3>Wait Validation Tentor</h3>
                </div>
                {% for schedule in form.schedules_active %}
                {% if not schedule.user_tentor %}
                  {% if forloop.counter|divisibleby:2 %}
                    <div
                      class="col-md-4 col-sm-6 background-schedule-1"
                      >
                      <h4 id="schedule-h4-1">List of Schedule</h4>
                  {% else %}
                    <div
                      class="col-md-4 col-sm-6 background-schedule-2"
                      >
                      <h4 id="schedule-h4-2">List of Schedule</h4>
                  {% endif %}
                    <p>Jadwal : {{ schedule.schedule }}</p>
                    <p>Mapel : {{ schedule.mapel }}</p>
                    <p>Mode : {{ schedule.mode }}</p>
                    <p>Status : Menunggu validasi</p>
                  </div>
                {% endif %}
                {% endfor %}

              {% endif %}
            </div>
          </div>

          {% else %}
          {% endif %}
        </form>
      </div>
  </div>
</div>
<div class="row justify-content-center py-5 mt-5">
  <div class="col-md-12 heading-section text-center ftco-animate">
  <h2 class="mb-4">Schedules</h2>
  </div>
</div>
{% endblock %}
