{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
            <span class="subheading">{{ form.user_type }}</span>
                <div class="text-center ftco-animate">
                    <p>Hi, {{ user.username }}</p>

                    {% if form.user_type == 'tentor' %}
                    {% elif form.user_type == 'student' %}
                    {% else %}
                    {% endif %}

                </div>
            </div>
        </div>
        {% block absence %}
        {% endblock %}
        {% block schedule %}
        {% endblock %}
    </div>
{% endblock %}