{% extends "schedule_absence.html" %}
{% load static %}

{% block schedule %}
{% if form.user_type == 'tentor' %}
<h2>Schedule student available:</h2>
<div class="container">
  <div class="row">
    {% for schedule in form.schedules_request %}
      {% if forloop.counter|divisibleby:2 %}
        <div
          class="col-md-4 col-sm-12 background-schedule-1 background-schedule-1"
          >
          <h4 id="schedule-h4-1">Daftar Murid</h4>
          <p>Nama : {{ schedule.user_student }}</p>
          <p>Jadwal : {{ schedule.schedule }}</p>
          <p>Lokasi : {{ schedule.location }}</p>
          <p>Mode : {{ schedule.mode }}</p>
          <div class="align-center">
            <button type="Submit" name="schedule-id-{{ schedule.id }}" class="save btn btn-default">Handle student</button>
          </div>
        </div>
        {% else %}
        <div
          class="col-md-4 col-sm-12 background-schedule-1 background-schedule-2"
          >
          <h4 id="schedule-h4-2">Daftar Murid</h4>
          <p>Nama : {{ schedule.user_student }}</p>
          <p>Jadwal : {{ schedule.schedule }}</p>
          <p>Lokasi : {{ schedule.location }}</p>
          <p>Mode : {{ schedule.mode }}</p>
          <div class="align-center">
            <button type="Submit" name="schedule-id-{{ schedule.id }}" class="save btn btn-default">Handle student</button>
          </div>
        </div>
        {% endif %}
    {% endfor %}
  </div>
</div>
{% elif form.user_type == 'student' %}
{% else %}
{% endif %}
<!-- <script>
  var x = document.getElementById("demo");

  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else {
      x.innerHTML = "Geolocation is not supported by this browser.";
    }
  }

  function showPosition(position) {
    x.innerHTML =
      "Latitude: " +
      position.coords.latitude +
      "<br>Longitude: " +
      position.coords.longitude;
  }
</script> -->
{% endblock %}
