/* Main Style */
html, body{
    height:100%;
    margin:0;
}
header{
    background: #419c9c8c;

}
body{
    display:flex;
    flex-direction:column; 
}
input {
    width: 100%;
    color: #258686d6;
}
label {
    font-size: larger;
    margin: 0px;
}
p {
    margin-bottom: 1rem;
}
a {
    color: #4b8ce8;
}
select {
    width: 100%;
    color: #81dbcf;
    background-color: #235351d4;
    border: 1px #31de79;
}
footer{
  margin-top:auto;
  /* background: #419c9c8c; */
  background: #19abab8c;
}
/* End Main Style */

/* Mobile */
@media only screen and (max-device-width: 480px) {
    .margin-10{
        margin-top: 40%;
    }
    .logo-size {
        width: 50%;
        height: auto;
    }
}
/* End Mobile */

/* General Style */
/* Margin */
.margin-side {
    margin-left: 12%;
    margin-right: 12%;
}
.margin-header {
    margin-left: 10%;
    margin-right: 10%;
}
.margin-top {
    margin-top: 20px;
}
/* ===== */

/* Padding */
.padding-bot {
    padding-bottom: 20px;
}

.padding-top {
    padding-top: 25px;
}
/* ===== */

/* Font */
.black-font {
    color: black;
}
.blue-font {
    color: blue;
}
.gray-font {
    color: gray;
}
.bold-font {
    font-weight:bold;
}
/* ===== */

/* Specific Style */
/* Header */
.logo-color {
    color: antiquewhite;
}
.logo-size {
    width: 80%;
    height: auto;
}
.header-color {
    color: antiquewhite;
}
.header-font {
    font-size: 21px;
}
/* ===== */

/* Body */
button{
    background-color: #f47522 !important;
    color: whitesmoke;
    padding: 5%;
}
.align-center{
    text-align: center;
}
.margin-10{
    margin-top: 10%;
}
.padding-header{
    padding-top: 2%;
}
/* ===== */

/* Footer */
.footer-color {
    background-color: rgb(57, 199, 180);
    color: antiquewhite;
}
/* ===== */

/* Other Style */
/* Custom */
.ftco-navbar-light .navbar-toggler {
    background-color: transparent !important;
}

.section-row {
    padding: 30px;
}

.section-row .img-event {
    margin-bottom: 30px;
    max-width: 100%;
    text-align: center;
}

/* Box Icon */
.box-icon {
    max-width: 235px;
    width: 100%;
    height: 178px;
    display: table;
    margin: 15px auto;
    border-radius: 5px;
    border: 1px solid #EBEBEB;
}

.box-icon .box-middle {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    padding: 10px;
}

.box-icon .box-middle .learn-img {
    height: 73px;
    display: table;
    margin: 0 auto;
}

.box-icon .box-middle .learn-img .learn-img-middle {
    display: table-cell;
    vertical-align: middle;
}

.box-icon .box-middle .learn-title>h5 {
    font-size: 12px;
    color: #7c7c7c;
    text-align: center;
    margin: 0;
    margin-top: 10px;
}

.save {
    width: 100%;
    margin: 5% 0%;
    padding: 2%;
}

.button-home {
    width: 100%;
    border-radius: 7px;
    background-color: #2c474ea3 !important;
}

.form-login {
    margin: 5%;
}

.button-login {
    margin: 0% 5% 0%;
    padding: 4% 0%;
}

.button-login-submit {
    padding: 2%;
    background-color: #356161b3;
    color: #2dced0;
}

.button-home:hover {
    background-color: #3faecaba !important;
}

.footer-logo {
    margin: 5%;
}

#id_id_pic {
    background-color: #2b795f8f;
}

#margin-none {
    margin: 0px;
}

.show-profile-image {
    width: 150px;
    height: 200px;
}

.show-id-image {
    width: 323px;
    height: 204px;
}

.today-absence {
    background-color: #24384985;
}

.past-absence-h2 {
    margin-top: 8%;
}

.past-absence {
    background-color: #3459436b;
}

.schedule-row {
    margin-bottom: 5%;
}

.schedule-label {
    color: aliceblue;
    font-weight: 700;
    margin-top: 10%;
}

.other-label {
    color: aliceblue;
    font-weight: 200;
    font-size: 95%;
}

.background-schedule-1 {
    background-color: #2e888838;
}

.background-schedule-2 {
    background-color: #00ffff38;
}

.margin-bottom-none p {
    margin-bottom: 0rem;
}

.open-scroll {
    height: 440px;
    overflow: scroll;
}

.handled-schedule {
    background-color: #6d757b38;
    border: aliceblue;
    border-style: dotted;
    border-width: thin;
}

.handled-schedule p {
    margin-bottom: 0rem;
}

.background-schedule-1 p,
.background-schedule-2 p {
    text-transform: capitalize;
    max-width: 100%;
}

.border-absence-1 {
    border: #2a626b91;
    border-style: groove;
}

.border-absence-2 {
    border: #f0f8ffba;
    border-style: groove;
}

.schedule-none {
    margin: 14% 0%;
}

.absence {
    background-color: transparent !important;
    color: aliceblue;
    padding: 1% 0%;
}

.absence:hover {
    color: aliceblue;
}

.absence-title {
    margin-top: 5%;
}

#schedule-h4-1 {
    color: #6984a9;
}

#schedule-h4-2 {
    color: #438d90;
}

#whatsapp-a {
    color: #67c365;
    margin: 0% 1%;
}

#absence-a {
    color: aliceblue;
    margin: 0% 1%;
}
/* ===== */
