{% extends "base.html" %}
{% load static %}
{% load fee_tag %}

{% block content %}
<div class="container">
  <div class="row justify-content-center pb-5">
    <div class="col-md-12 heading-section text-center ftco-animate">
      <h2 class="mb-4">Total Fee</h2>
      <p>
        Fee Summary {{ form.year }}
      </p>
      <p>
        Choose year :
        <select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
          {% with year=-2|get_year %}<option value="/tentor/fee/{{year}}" {% if year|stringformat:"s" in request.get_full_path %} selected {% else %} {% endif %}>Last 2 Year ({{year}})</option>{% endwith %}
          {% with year=-1|get_year %}<option value="/tentor/fee/{{year}}" {% if year|stringformat:"s" in request.get_full_path %} selected {% else %} {% endif %}>Last Year ({{year}})</option>{% endwith %}
          {% with year=0|get_year %}<option value="/tentor/fee/{{year}}" {% if year|stringformat:"s" in request.get_full_path %} selected {% else %} {% endif %}>Now Year ({{year}})</option>{% endwith %}
        </select>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 ftco-animate">

      {% if form.user_type == 'superuser' %}
        <h2>Total Fee</h2>
        <table>
          <tr class="table-title">
            <th>Tentor</th>
            {% comment %} Monthly title {% endcomment %}
              {% for month in form.list_months %}
                <th>{{ month }}</th>
              {% endfor %}
            {% comment %} End of Monthly title {% endcomment %}
          </tr>

          {% comment %} Get data per tentor {% endcomment %}
          {% for tentor in form.data_superuser %}
            <tr>
              <th>{{ tentor.user_tentor.name }}</th>
              {% comment %} Monthly data {% endcomment %}
              {% for month in form.list_months %}
                {% with month_paid=month|stringformat:"s"|add:"_paid" %}{% with month_total=month|stringformat:"s"|add:"_total" %}
                  <th {% if tentor|get_item:month_paid == True %} style="color:#4e9955;;" {% elif tentor|get_item:month_paid == False %} style="color:#e35c4bbd;" {% endif %}>{{ tentor|get_item:month_total }}</th>
                {% endwith %}{% endwith %}
              {% endfor %}
              {% comment %} End of Monthly data {% endcomment %}
            </tr>
          {% endfor %}
          {% comment %} End of Get data per tentor {% endcomment %}
        </table>
        <br/>
        <h2>Total Meet</h2>
        <table>
          <tr class="table-title">
            <th>Tentor</th>
            {% comment %} Monthly title {% endcomment %}
            {% for month in form.list_months %}
              <th>{{ month }}</th>
            {% endfor %}
            {% comment %} End of Monthly title {% endcomment %}
          </tr>

          {% comment %} Get data per student {% endcomment %}
          {% for tentor in form.data_superuser %}
            <tr>
              <th>{{ tentor.user_tentor.name }}</th>
              {% comment %} Monthly data {% endcomment %}
              {% for month in form.list_months %}
                {% with month_paid=month|stringformat:"s"|add:"_paid" %}{% with month_count=month|stringformat:"s"|add:"_count" %}
                  <th
                  {% if tentor|get_item:month_paid == True %}
                    style="color:#4e9955;;"
                  {% elif tentor|get_item:month_paid == False %}
                    style="color:#e35c4bbd;"
                  {% endif %}
                  >
                    {{ tentor|get_item:month_count }}
                  </th>
                {% endwith %}{% endwith %}
              {% endfor %}
              {% comment %} End of Monthly data {% endcomment %}
            </tr>
          {% endfor %}
          {% comment %} End of Get data per student {% endcomment %}
        </table>

      {% elif form.user_type == 'tentor' %}
        <table>
        <tr class="table-title">
            <th>Month</th>
            <th>SD 1-5</th>
            <th>SD 6</th>
            <th>SMP 7-8</th>
            <th>SMP 9</th>
            <th>SMA 10-11</th>
            <th>SMA 12</th>
            <th>Total (Rp)</th>
            <th>Paid</th>
        </tr>
        {% comment %} Monthly data {% endcomment %}
        {% for month in form.list_months %}
          {% with list_sd_1_5=month|stringformat:"s"|add:"_SD_1_5" %}{% with list_sd_6=month|stringformat:"s"|add:"_SD_6" %}
          {% with list_smp_7_8=month|stringformat:"s"|add:"_SMP_7_8" %}{% with list_smp_9=month|stringformat:"s"|add:"_SMP_9" %}
          {% with list_sma_10_11=month|stringformat:"s"|add:"_SMA_10_11" %}{% with list_sma_12=month|stringformat:"s"|add:"_SMA_12" %}
          {% with paid_month=month|stringformat:"s"|add:"_paid" %}{% with total_fee_month=month|stringformat:"s"|add:"_total_fee" %}
            <tr>
                <td>{{ month }}</td>
                <td>{{ form|get_item:list_sd_1_5 }}</td>
                <td>{{ form|get_item:list_sd_6 }}</td>
                <td>{{ form|get_item:list_smp_7_8 }}</td>
                <td>{{ form|get_item:list_smp_9 }}</td>
                <td>{{ form|get_item:list_sma_10_11 }}</td>
                <td>{{ form|get_item:list_sma_12 }}</td>
                <td>Rp {{ form|get_item:total_fee_month }},-</td>
                {% if form|get_item:paid_month == True %}
                  <td><i class="fa fa-check" style="font-size:36px"></i></td>
                {% elif form|get_item:paid_month == False %}
                  <td><i class="fa fa-hourglass" style="font-size:36px"></i></td>
                {% else %}
                  <td>-</td>
                {% endif %}
            </tr>
          {% endwith %}{% endwith %}{% endwith %}{% endwith %}
          {% endwith %}{% endwith %}{% endwith %}{% endwith %}
        {% endfor %}
        {% comment %} End of Monthly data {% endcomment %}
        </table>
      {% endif %}
      <p>*) Can validate it from <a href="/absence">Absence<a> data</p>
    </div>
  </div>
</div>
<div class="row justify-content-center py-5 mt-5">
  <div class="col-md-12 heading-section text-center ftco-animate">
    <h2 class="mb-4">Payment</h2>
    <p class="mb-4">Transfer fee will be done in day 1-6 every month.</p>
  </div>
</div>
<style>
@media (max-width: 500px) {
    body{
        width: 150%;
    }
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.table-title {
  background-color: #38706f70 !important;
}

tr:nth-child(even) {
  background-color: #76a1a070;
}

tr:nth-child(odd) {
  background-color: #664f4f2b;
}
</style>
<script type="text/javascript">
  function zoom(){
    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
      document.body.style.zoom = "80%" 
    }
  }
</script>
{% endblock %}
